{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Software Soluções<br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
André Victor Santos
RA: 1701556

André Vogelsanger
RA: 1701499

Patrícia de Andrade
RA: 1701533

Octávio Duarte
RA: 1701489

Otávio Capel
RA: 1701081

Lucas Canha
RA: 1701810

Jose Ricardo Fernandes
RA: 1701259

{% endblock %}
